<%- include('partials/header.ejs') %>
<body>

<div class = "imageTry">
<br>
<a href = "/admin" class="backSpace"> BACK </a> <br><br>

<h1> Edit Pets </h1>
<hr><br>
<div class = "change1">


<% for(var i = 0; i < pets.length; i++){ %>

<a href = "/pets/edit?petId=<%=pets[i].petsId%>" class="update"> Update</a>
    <%= pets[i].name %>
<br><br>
<% } %>

</div>
<%- include('partials/footer.ejs') %>
</div>
</div> 
</body>

</html>