<footer>
  <hr>
    <div class ="footer">
      <div class = "notes">
        CST336 Internet Programming. 2021&copy; Cuevas, Singh  <br />
        <strong>Diclaimer:</strong> The information in this webpage is fictitious. <br />
        It it used for academic purpose only.<br/><br/>
      </div>

    </div>
  </footer>