<%- include('partials/header.ejs') %>

<body>
<div id = "backgroundI4">

<h1> Admin Selection </h1>
<hr>

<div id = "flexing">
<div id = "flexing1">

<form method = "GET" 
action = "/petList">
<button class = "second">Edit Pets</button>
</form>
</div> <!--flexing 1 -->

<div id = "flexing2">
<form action = "/contactList">
<button class = "first">Edit Contacts</button>
</form>

</div><!--flexing2-->

<div id = "flexing3">
<form action = "/userList">

<button class = "second">Edit Users</button>
</form>

</div><!-- flexing3-->

<div id = "flexing4">
<form action = "/">
<button class = "first">Main Section</button>
</form>

</div><!--flexing4-->



</div> <!--flexing -->
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include('partials/footer.ejs') %>
</div> <!--backgroundimage -->
</body>
</html>