<%- include('partials/header.ejs') %>
<body>
<div id = "backgroundI3">
<br>
<a href = "/" class="backSpace"> BACK </a> 

<h1> Login </h1>
<hr> <br>

<form method = "POST" action = "/login" >
Username: <input type= "text" name = "username" >
<br> <br> 
Password: <input type = "password" name = "pwd">
<br> <br>

<button class = "loginB"> Login </button>
</form>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<%- include('partials/footer.ejs') %>
<br>

</div>

</body>

</html>