<%- include('partials/header.ejs') %>
<body>
<div class = "imageTry">
<br>
<a href = "/admin" class="backSpace"> BACK </a> <br><br>

<h1> Edit Users </h1>
<hr><br>
<div class = "change1">


<% for(var i = 0; i < user.length; i++){ %>

<a href = "/user/edit?userId=<%=user[i].usersId%>" class="update"> Update</a>
    <%= user[i].username %>
<br><br>
<% } %>

</div>
<%- include('partials/footer.ejs') %>
</div>
</body>

</html>