h1{
  text-align: center;
  color: rgb(48, 28, 61);
  padding: 25px;
}

.change{
  background-color: rgb(243, 234, 234);
}

#backgroundI{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/homePage.jpg");
}
#backgroundI2{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/background2.jpg");
}
#backgroundI3{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/background3.jpg");
}
#backgroundI4{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/background4.jpg");
}
.petBack{
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/paw.jpg");
  
}

.imageTry{
  background-color: gainsboro;
}

#flexing, .sectionDivide1{
  display: flex;
  justify-content: center;
  text-align: left;  
}
#imageF{
  display: flex;
  justify-content: center;
  text-align: left;
}

#contactInformation{
  display: flex;
  justify-content: center;
}

#sectionP{
  
  text-align: left;
}

#flexing1, #flexing2, #flexing3, #flexing4,#imageF1, #imageF2 {
  padding: 20px;
}

body{
  text-align: center;
}

#tryingOut{
 margin-left: 30px;
}

#cardbody1{
  width: 100%;
}

a.backSpace:link, a.backSpace:visited {
  background-color: #7f2d8a;
  color: rgb(179, 166, 166);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.backSpace:hover, a.backSpace:active {
  background-color: rgb(109, 14, 98);
}
.loginB{
  background-color: rgb(175, 175, 175); /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logInOut{
  text-align: right;
  padding-right: 20px;
  padding-top: 30px;
 
}

a.in:link, a.in:visited {
  background-color: #98e9b0;
  color: rgb(0, 0, 0);
  padding: 5px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.in:hover, a.in:active {
  background-color: rgb(82, 199, 97);
}

a.out:link, a.out:visited {
  background-color: #fd97be;
  color: rgb(0, 0, 0);
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.out:hover, a.out:active {
  background-color: rgb(199, 82, 82);
}

.myContact{
  text-align: center;
  display: inline-block;
}


.modal {
 
  display: none; 
  position: absolute;
  padding: 100px;
  float: left;
  left: 50%;
  top: 50%;
  overflow: auto; 
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: rgb(175, 175, 175);
  color: rgb(0, 0, 0);
  border-style: inset;
 border-width: 3px;
  margin: auto;
  width: 50%;
  padding-bottom: 22px;
}
#theButton, #submit{
  background-color: rgb(122, 122, 122);
  color: white;
  width: 120px;
} 

#tryImg{
  border-radius: 50%;
}

.change1{
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.close {
  color: #aaaaaa;
  text-align: right;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.card text-white bg-dark mb-3{
  margin-left: 30px;
}

.first{
  background-color: rgb(92, 71, 92); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.second{
  background-color: rgb(175, 76, 106); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a.update:link, a.update:visited {
  background-color: #b9f3e2;
  color: rgb(3, 2, 2);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.update:hover, a.update:active {
  background-color: rgb(103, 235, 169);
}

.update2 {
  font-size: 16px;
  border-radius: 12px;
  background-color: #555555;
  color: white;
}


